@font-face {
   font-family: 'Raleway';
   font-style: Regular;
   font-weight: 400;
   font-display: swap;
   src: url(font/Raleway-Regular.ttf) format('woff2');

}

@font-face {
   font-family: 'Raleway';
   font-style: bold;
   font-weight: 700;
   font-display: swap;
   src: url(font/Raleway-VariableFont_wght.ttf) format('woff2');

}




* {
   margin: 0;
   padding: 0;

}

body {

   font-family: 'Raleway';


}


.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: url(images/bg-desktop.png) no-repeat bottom #0C122C;
   background-size: 100%;
   min-height: 100vh;

}

.info-container {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: center;
   position: relative;
   bottom: 91px;

}

.fylo-container {
   background: #1E2D69;
   margin-right: 30px;
   width: 18%;
   height: 201px;
   border-radius: 10px 100px 10px 10px;

}

.fylo {
   width: 40%;
   padding: 38px;
   
}
.file-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  
}

.icon {  
   background-color: #0C122C;
   margin-right: 16px;
   border-radius: 10px;
   position: relative;
   left: 20px;
   top: 33px;
  padding: 13px;
}

.file{
   width: 20px;
   height: 19px;
}
.folder{
   width: 18px;
   height: 20px;
}
.cloud{
   width: 21px;
   height: 20px;
}
.icon:hover{
   opacity: 20%;
   cursor: pointer;
}

.proccess-box {
   background: #1E2D69;
   width: 30%;
   height: 154px;
   border-radius: 10px;
   position: relative;
}

.dialog-box-memorey {
   border-radius: 10px 10px 0px 10px;
   width: 179px;
   height: 72px;
   background-color: #fff;
   bottom: 47px;
   position: absolute;
   right: 40px;
   top: -30px;

}

#triangle-top-right:before {
   content: "";
   display: inline-block;
   width: 0;
   height: 0;
   position: relative;
   left: 157px;
   top: 60px;
   border-style: solid;
   border-width: 0 22px 22px 0;
   border-color: transparent #fff transparent transparent;
}


.dialog-box-memorey p {
   font-size: 12px;
   font-weight: 700;
   line-height: 14px;
   letter-spacing: 1px;
   text-align: right;
   color: #0C122C;
   opacity: 50%;
   margin-right: 14px;
   position: relative;
   bottom: 10px;

}

.dialog-box-memorey b {
   font-size: 40px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0px;
   text-align: left;
   color: #0C122C;
   position: relative;
   top: 15px;

}

.range-container {
   position: relative;
   top: 60px;
   left: 50px;
   width: 90%;
}

.title-1 {

   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0px;
   color: #dbd9ff;
   margin-bottom: 16px;

}

.title-2 {
   width: 93%;
   font-size: 12px;
   font-weight: 700;
   line-height: 14px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #dbd9ff;
   margin-top: 6px;
}

.RAM-range {
   width: 93%;
   height: 20px;
   border-radius: 10px;
   background-color: #0C122C;
}

.range {
   width: 75%;
   height: 14px;
   background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
   border-radius: 10px;
   position: relative;
   top: 3px;
   left: 3px;
}

.pointer {
   width: 10px;
   height: 10px;
   background: #fff;
   border-radius: 50px;
   float: right;
   margin: 2px;
}
.pointer:hover{
  cursor: pointer; 
} 

.attribution {
   font-size: 11px;
   text-align: center;
   position: fixed;
   display: inline-block;
   right: 39%;
   bottom: 20px;
   color: #dbd9ff;

}

.attribution a {
   color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:1460px) {
   .info-container {
      position: relative;
      top: 10px;
   }

}
@media only screen and (max-width:1284px) {
   .fylo {
      width: 40%;
      padding: 30px;
      
   }
   .icon {
      position: relative;
      left: 40px;
   }
   .range-container {
      position: relative;
      top: 60px;
      left: 30px;
      width: 90%;
   }
   
}
@media only screen and (max-width:1100px){
   .container {
      background: url(images/bg-mobile.png) no-repeat;
      background-size: cover;
      min-height: 100vh;

   }

   .fylo {
      width: 40%;
      padding: 20px;
      margin-top: 4px;
   }

   .icon {
      margin-right: 3px;
      
   }
   .info-container {
      display: flex;
      flex-direction: row;
      align-items: self-end;
   position:relative;
   }


}
@media only screen and (max-width:980px) {
   .container {
      background: url(images/bg-mobile.png) no-repeat;
      background-size: cover;
      min-height: 100vh;

   }
   .fylo {
      
      padding: 40px;
      margin-top: 4px;
   }

   .fylo-container {
      background: #1E2D69;
      width:326px;
      margin-left: 25px;

   }
   .icon{
      margin-right: 17px;
position: relative;
left: 30px;
      
   }

   .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
   
   }

   .dialog-box-memorey {
      border-radius: 10px 10px 10px 10px;
      width: 179px;
      height: 72px;
      background-color: #fff;
      top: 130px;
      left: 70px;
   }
   .dialog-box-memorey b{
      padding-left: 17px;
   }
   .dialog-box-memorey p{
      padding-right:14px ;
   }
   #triangle-top-right:before {
      display: none;
   }

   .proccess-box {
      width: 326px;
      height: 160px;
      margin-top: 16px;
   }
   .range-container {
      position: relative;
      top: 40px;
      left: 20px;
   }
   .title-1{
      position: relative;
      left: 20px;
   }
   .title-2 {
      width: 262px;
      position: relative;
      left: 10px;

   
   } 

   .attribution {
      display: none;
   }
}
